<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Apollo Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/theme/favicon.svg" /> -->
        <!-- Template CSS -->
        <link href="/admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="/admin/dashboard" class="brand-wrap">
                    <h4>Apollo <br> Furniture.</h4>
                    <!-- <img src="/admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" /> -->

                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    
                        <li class="menu-item has-submenu"> 
                            <a class="menu-link" href="/admin/productList">
                               <i class="icon material-icons md-shopping_bag"></i>
                               <span class="text"> Products</span>
                           </a> 
                       </li>

                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text"> Category</span>
                        </a>


                        <a class="menu-link" href="/admin/users">
                            <i class="icon material-icons md-person"></i>
                            <span class="text"> Users</span>
                        </a>

                        <li class="menu-item active">
                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>

                    <a class="menu-link" href="/admin/coupon">
                        <i class="bi bi-ticket-perforated-fill">
                            <span class="text">Coupon</span></i>
                        
                    </a>

                    <a class="menu-link" href="/admin/offer">
                        <i class="bi bi-percent" style="font-size: 15px;">
                            <span class="text">Offer</span></i>
                        
                    </a>
                        
            </nav>
        </aside>
        <main class="main-wrap">
            
                
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        
                    </div>
                    <!-- <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div> -->
                </div>
                <div class="card mb-4">
                    <!-- <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header> -->
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Ordered Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let orderTotal = 0 %>
                                    <% let no = 1 %>
                                    <% if (order && order.length > 0) { %>
                                        <% for(let i = order.length-1 ; i>=0 ; i--){ %>
                                            <% order[i].items.forEach((orderItem) => { %>
                                                <% if(order[i].status!=='pending'){ %>
                                    <tr>
                                        <td><%= no++ %></td>
                                        
                                        <td><%= orderItem.product_id.brand %> - <%= orderItem.product_id.name %></td>
                                        
                                        <% if (order[i].userId) { %>
                                            <td><%= order[i].userId.email %></td>
                                        <% } else { %>
                                            <td>User Not Found</td>
                                        <% } %>



                                        <% 
                                        let itemPrice = orderItem.product_id.price;
                                        if( orderItem.product_id.offer &&  orderItem.product_id.categoryId.offer){
             
                                      itemPrice -= (itemPrice * orderItem.product_id.offer.percentage / 100);
             
                                      } else if( orderItem.product_id.categoryId.offer){
             
                                    itemPrice -= (itemPrice *  orderItem.product_id.categoryId.offer.percentage / 100);
             
                                     } else if( orderItem.product_id.offer){
             
                                      itemPrice -= (itemPrice *  orderItem.product_id.offer.percentage / 100);
             
                                      }
                                       %>

                                       
                                        <td>₹<%= itemPrice*orderItem.quantity %>.00</td>
                                        <% if(orderItem.status==='Cancelled'){ %>
                                            <td><span class="badge rounded-pill alert-danger"><%= orderItem.status %></span></td>
                                        <% }else if(orderItem.status==='delivered'){ %>
                                        <td><span class="badge rounded-pill alert-success"><%= orderItem.status %></span></td>
                                        <% }else{ %>
                                            <td><span class="badge rounded-pill alert-warning"><%= orderItem.status %></span></td>
                                        <% } %>
                                        <td><%= order[i].date %></td>
                                        <td class="text-end">
                                            <a href="/admin/orderDetails?id=<%= order[i]._id %>" class="btn btn-md rounded font-sm">View</a> 
                                            <!-- <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="">View</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div> -->
                                             <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <% } %>
                                    <% }) %>
                                    <% } %>
                                    <% } %>
                                   
                                   
                                             <!-- dropdown //end  -->
                                       
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <!-- <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
