<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="css/tiny-slider.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/checkout.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<title>Apollo Furniture </title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" id="navbarcheckout" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Apollo Furniture<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li>
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<li ><a class="nav-link" href="/about">About us</a></li>
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userProf"><img src="images/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
						<li><a class="nav-link" href="/wishlist"><i class="fa-regular fa-heart" id="wishicon"></i></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Checkout</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->



		<div class="modal" id="addressmodal">
			<div class="modal-dialog">
			  <div class="modal-content">
		  
				<!-- Modal Header -->
				<div class="modal-header">
				  <h4 class="modal-title">Enter Your Address</h4>
				  <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
				</div>
		  
			
				<div class="modal-body">
				  <form method="post" id="addaddressform" onsubmit="return newAddress(event)">
				   
					<div class="form-group">
					  <label for="exampleFormControlInput1">Name</label>
					  <input type="text" class="form-control" id="namein" name="name" placeholder="eg: Rooney">
					</div>

					<div class="form-group">
						<label for="exampleFormControlInput1">Local Address</label>
						<input type="text" class="form-control" id="addressin" name="address" placeholder="Enter Address Here">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">City</label>
						<input type="text" class="form-control" id="cityin" name="city" placeholder="Enter City">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">State</label>
						<input type="text" class="form-control" id="statein" name="state" placeholder="Enter State">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">Contact No.</label>
						<input type="text" class="form-control" id="contactin" name="contact" placeholder="Enter Contact No.">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">E-mail</label>
						<input type="email" class="form-control" id="emailinadd" name="email" placeholder="eg: rooney@gmail.com">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">Pincode</label>
						<input type="text" class="form-control" id="pincodein" name="pincode" placeholder="Enter Pincode">
					  </div>
					
		  
					<button type="submit" class="btn btn-primary">Submit</button>
				  </form>
				</div>
		  
		
		  
			  </div>
			</div>
		  </div>






		  <div class="modal" id="editaddressmodal">
			<div class="modal-dialog">
			  <div class="modal-content">
		  
				<!-- Modal Header -->
				<div class="modal-header">
				  <h4 class="modal-title">Enter Your Address</h4>
				  <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
				</div>
		  
			
				<div class="modal-body">
				  <form method="post" id="addaddressform">
				   
					<div class="form-group">
					  <label for="exampleFormControlInput1">Name</label>
					  <input type="text" class="form-control" id="nameinedit" name="name" placeholder="eg: Rooney">
					</div>

					<div class="form-group">
						<label for="exampleFormControlInput1">Local Address</label>
						<input type="text" class="form-control" id="addressinedit" name="address" placeholder="Enter Address Here">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">City</label>
						<input type="text" class="form-control" id="cityinedit" name="city" placeholder="Enter City">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">State</label>
						<input type="text" class="form-control" id="stateinedit" name="state" placeholder="Enter State">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">Contact No.</label>
						<input type="text" class="form-control" id="contactinedit" name="contact" placeholder="Enter Contact No.">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">E-mail</label>
						<input type="email" class="form-control" id="emailinedit" name="email" placeholder="eg: rooney@gmail.com">
					  </div>

					  <div class="form-group">
						<label for="exampleFormControlInput1">Pincode</label>
						<input type="text" class="form-control" id="pincodeinedit" name="pincode" placeholder="Enter Pincode">
					  </div>
					
		  
					<button type="submit" class="btn btn-primary" id="submitedit">Submit</button>
				  </form>
				</div>
		  
		
		  
			  </div>
			</div>
		  </div>


			<!---Accordion -->

			<div class="container" id="accordiondiv">
				<div class="row mb-5">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
					 Delivery Address
					</button>
				  </h2>
				  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addressmodal" id="addaddrbtn">Add address</button>


						

						
						<form action="">
						<div class="form-check">
							<span id="selectmsg"></span>
							<p class="text-muted">Default</p>
							<% for (let i = 0; i < user.address.length; i++) { %>
								<div class="form-group row">
								  <div class="col-md-10">
									
									<input type="radio" name="address" id="address_<%= i %>" class="form-check-input" value="<%= user.address[i]._id %>">
									 <textarea name="c_order_notes" id="address_" rows="4" class="form-control" readonly>
<%= user.address[i].name %>
<%= user.address[i].localAddress %>,<%= user.address[i].city %>            
<%= user.address[i].state %>,<%= user.address[i].pincode %>
<%= user.address[i].phone %>                                  
									</textarea> 

									<!-- <input type="hidden" name="name_<%= i %>" value="<%= user.address[i].name %>" id="addressName">
<input type="hidden" name="localAddress_<%= i %>" value="<%= user.address[i].localAddress %>">
<input type="hidden" name="city_<%= i %>" value="<%= user.address[i].city %>">
<input type="hidden" name="state_<%= i %>" value="<%= user.address[i].state %>">
<input type="hidden" name="pincode_<%= i %>" value="<%= user.address[i].pincode %>">
<input type="hidden" name="phone_<%= i %>" value="<%= user.address[i].phone %>">  -->


<!-- <div>
	<span> <%= user.address[i].name %></span><br>
	<span> <%= user.address[i].localAddress %></span><br>
	<span> <%= user.address[i].city %></span><br>
	<span> <%= user.address[i].state %></span><br>
	<span> <%= user.address[i].pincode %></span><br>
	<span> <%= user.address[i].phone %></span><br>
  </div> -->


								  </div>
								  <div class="col-md-2">
									<button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editaddressmodal" id="addreditbt" onclick="addreditbtn(event, '<%= user.address[i]._id %>')">Edit</button>								  </div>
								</div>
								
							  <% } %>
							  <div class="col-md-12">
								<div class="row">
									<div class="col-md-9">
										
									</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">Use this address</button>
									</div>
								</div>
							</div>
							
							
						  </div>


						  


					</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
					  Payment Method
					</button>
				  </h2>
				  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
					<div class="accordion-body">


						
						<!-- <div class="border p-3 mb-3 d-flex justify-content-between">
							<div class="pmdiv">
							<input class="form-check-input" type="radio" name="selectedPayment" id="debit" value="debit">
							<h3 class="h6 mb-0">Credit or Debit Card</h3>
						</div> -->
							
						  <!-- </div> -->
						
	
							
						  <div class="border p-3 mb-3">
							<div class="pmdiv">
							<input class="form-check-input" type="radio" name="selectedPayment" id="upi" value="upi">
							<h3 class="h6 mb-0">UPI</h3>
						</div>
	
							
						  </div>
						


							
						  <div class="border p-3 mb-5"> 
							<div class="pmdiv">
							<input class="form-check-input" type="radio" name="selectedPayment" id="cod" value="cod">
							<h3 class="h6 mb-0">Cash On Delivery (COD)</h3>
						</div>
	
							
						  </div>


						  <div class="border p-3 mb-5"> 
							<div class="pmdiv">
							<input class="form-check-input" type="radio" name="selectedPayment" id="wallet" value="wallet">
							<h3 class="h6 mb-0">Apollo Wallet</h3><br>
							<p>Balance: ₹<%= user.wallet %>.00</p>
						</div>
	
							
						  </div>
						
						
						
						  <div class="col-md-12">
							<div class="row">
								<div class="col-md-10">
									
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">Select</button>								</div>
							</div>
						</div>
						  
	


					</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
					 Review Order & Proceed
					</button>
				  </h2>
				  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
					<div class="accordion-body">

						<% if (cart && cart.items) { %>

					

					
						
							
								
							  <table class="table site-block-order-table mb-5">
								<thead>
								  <th>Product</th>
								  <th>Total</th>
								</thead>
								<tbody>
								  <% let cartSum = 0 %>
								  <% for(let i=0;i<cart.items.length;i++){ %>

									<% 
									let itemPrice = cart.items[i].product_id.price;
									if(cart.items[i].product_id.offer && cart.items[i].product_id.categoryId.offer){
				 
									itemPrice -= (itemPrice * cart.items[i].product_id.offer.percentage / 100);
				 
									} else if(cart.items[i].product_id.categoryId.offer){
				 
								   itemPrice -= (itemPrice * cart.items[i].product_id.categoryId.offer.percentage / 100);
				 
								  } else if(cart.items[i].product_id.offer){
				 
								   itemPrice -= (itemPrice * cart.items[i].product_id.offer.percentage / 100);
				 
								  }
								  %>
								  <tr>
									<td><%= cart.items[i].product_id.name %> <strong class="mx-2">x</strong> <%= cart.items[i].quantity %></td>
									<td>₹<%= itemPrice*cart.items[i].quantity %>.00</td>
									<!-- <%= cartSum+=itemPrice*cart.items[i].quantity %> -->
									
								  </tr>
								  <% } %>
								  <input type="hidden" id="totAmt" value="<%= cartSum %>">
									<input type="hidden" id="couponid" value="">
			
								  <tr>
									<td>Cart Subtotal</td>
									<td>₹<%= cartSum %>.00</td>
								  </tr>

								  <tr style="display: none;" id="discountrow">
									<td class="text-danger font-weight-bold"><strong>Discount</strong></td>
									<td class="text-danger font-weight-bold" ><strong id="discountinput"></strong></td>
								  </tr>

								  <tr>
									<td>Delivery Charges
										<p style="color: rgba(143, 112, 13, 0.959); font-size: 14px;">(Charges may included for orders below ₹10000.00)</p>
									</td>

									<% if(cartSum>=10000){ %>
										<td id="deliverycharge">Free</td>
									<% }else{ %>
										<td id="deliverycharge">₹100.00</td>
									<% } %>
									
								  </tr>
								  
								
									<tr>
										<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
										<%if (cartSum>=10000){ %>
											<td class="text-black font-weight-bold" id="total"><strong>₹<%= cartSum %>.00</strong></td>
										<% }else{ %>
											<td class="text-black font-weight-bold" id="total"><strong>₹<%= cartSum+100 %>.00</strong></td>
										<% } %>
										
									  </tr>
									  
							  
									
								</tbody>
								
								
							  </table>

							  
							  <div class="row">
								<div class="col-md-12">
								  <h6>Coupon</h6>
								  <p>Enter your coupon code if you have one.</p>
								</div>
								<div class="col-md-8 mb-3 mb-md-0">
									<input type="text" placeholder="Enter Coupon Code" id="couponinput">
								  <button type="button" class="btn btn-success" onclick="applyCoupon(event)" id="couponbtn">Apply</button>
								  <button type="button" class="btn btn-danger d-none" onclick="removeCoupon()" id="removebtn">Remove</button>
								  <p id="couponError" style="color: red;"></p>
								</div>

								
							  </div>
							


							  
							  <a href="" style="text-decoration: none;color: rgb(7, 77, 24); font-weight: bold; margin-left: 80px;" data-bs-toggle="modal" data-bs-target="#couponModal">Check for available coupons?</a>

							  <div class="form-group d-flex justify-content-end"">
								<button type="button" class="btn btn-primary btn-sm py-3" onclick="placeOrderVld()">Place Order</button>
							  </div>
			
			
			
							  <% } %>


				

							  
							</form>

							<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalLabel">Available Coupons</h5>
									  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
									<div class="modal-body">
										<% if(coupon && coupon.length > 0) { %>
											<ul class="list-group">
												<% coupon.forEach((coupon)=> { %>
													<li class="list-group-item d-flex justify-content-between align-items-center">
														<div>
															<h6 class="text-warning"><%= coupon.couponName %></h6>
															<p><%= coupon.couponDescription %></p>
														</div>
														
													</li>
												<% }) %>
											</ul>
										<% } else { %>
											<p>No coupons available.</p>
										<% } %>
									</div>
									
									  
									<!-- <div class="modal-footer">
									  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
									  <button type="button" class="btn btn-primary">Save changes</button>
									</div> -->
								  </div>
								</div>
							  </div>





				  </div>
				</div>
			  </div>
			 





			  <script>



				



					//add address


					function newAddress(event) {
    event.preventDefault();

    let username = $('#namein').val();
    let email = $('#emailinadd').val();
    let mobile = $('#contactin').val();
    let address = $('#addressin').val();
    let pincode = $('#pincodein').val();
    let city = $('#cityin').val();
    let state = $('#statein').val();

    // Clear any existing error messages
    $('#nameError').text("");
    $('#emailError').text("");
    $('#mobileError').text("");
    $('#addressError').text("");
    $('#pinError').text("");
    $('#cityError').text("");
    $('#stateError').text("");

    let isValid = true;

    // Validate required fields
    if (!username || !email || !mobile || !address || !pincode || !city || !state) {
        isValid = false;
        // If any required field is empty, display an error message
        Swal.fire({
            title: 'Error',
            icon: 'error',
            text: 'Please fill out all the required fields.',
            timer: 2000,
        });
        return; // Exit the function if validation fails
    }

    // Regular expression for name validation
    const nameRegex = /^[a-zA-Z][a-zA-Z0-9 ]*$/;
    if (!nameRegex.test(username)) {
        // $('#nameError').text("Please enter a valid name.");
        Swal.fire({
            title: 'Error',
            icon: 'error',
            text: 'Please enter the name in correct format.',
            timer: 2000,
        });
        isValid = false;
    }

    // Regular expression for email validation
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
        // $('#emailError').text("Please enter a valid email address.");
        Swal.fire({
            title: 'Error',
            icon: 'error',
            text: 'Enter valid mail!',
            timer: 2000,
        });
        isValid = false;
    }

    // Regular expression for mobile validation (10 digits)
    const mobileRegex = /^\d{10}$/;
    if (!mobileRegex.test(mobile)) {
        // $('#mobileError').text("Please enter a valid 10-digit mobile number.");
        Swal.fire({
            title: 'Error',
            icon: 'error',
            text: 'contact fields should be 10 digits!',
            timer: 2000,
        });
        isValid = false;
    }

    // Regular expression for pincode validation (numbers only)
    const pincodeRegex = /^[0-9]+$/;
    if (!pincodeRegex.test(pincode)) {
        // $('#pinError').text("Pincode must be a number.");
        Swal.fire({
            title: 'Error',
            icon: 'error',
            text: 'Pincode should be in numbers!',
            timer: 2000,
        });
        isValid = false;
    }

    // If validation fails, return
    if (!isValid) {
        return false
    }else{
        $.ajax({
        url: '/addAddress',
        method: 'post',
        data: {
            username: username,
            email: email,
            mobile: mobile,
            address: address,
            pincode: pincode,
            city: city,
            state: state
        },
        success: (response) => {
            if (response.success) {
                Swal.fire("Address added successfully!")
                    .then(() => {
                        $('#addressmodal').hide();
                        window.location.reload();
                    });
            } else {
                Swal.fire({
                    title: 'Error',
                    icon: 'error',
                    text: response.message,
                    timer: 2000,
                });
            }
        },
        error: (error) => {
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'There was an error processing your request.',
                timer: 1500,
            });
        }
    });

    }

    // If all validations pass, proceed with AJAX request
   
}

    





				async function placeOrderVld(){
					const selectedaddress = document.getElementsByName('address')
					const selectedpayment = document.getElementsByName('selectedPayment')
					const totalAmountText = document.getElementById('total').innerText
					const totalAmount = parseFloat(totalAmountText.replace(/[^\d.]/g, ''));
					const couponid = document.getElementById('couponid').value.trim()
					console.log('logcoid:',couponid);

					let isSelectedAddress = false;
    				let isSelectedPayment = false;

    // Loop through address radio buttons to check if one is selected
    for (const radio of selectedaddress) {
      if (radio.checked) {
        isSelectedAddress = true;
        break;
      }
    }

    // Loop through payment radio buttons to check if one is selected
    for (const radio of selectedpayment) {
      if (radio.checked) {
        isSelectedPayment = true;
        break;
      }
    }

    // Validate address selection
    if (!isSelectedAddress) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Please select an address.'
      });
      return; // Prevent further execution of the function
    }

    // Validate payment selection
    if (!isSelectedPayment) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Please select a payment method.'
      });
      return; // Prevent further execution of the function
    }

    // If both address and payment are selected, proceed with placing the order
    if(isSelectedAddress && isSelectedPayment){
      placeOrder(totalAmount,couponid)
     }
  }


  function placeOrder(totalAmount,couponid){

	
	const address = document.querySelector('input[name = "address"]:checked').value
  	const payment = document.querySelector('input[name = "selectedPayment"]:checked').value
	 

	$.ajax({
		url:'/placeorder',
		method:'post',
		data:{
			selectedaddress: address,
			selectedpayment: payment,
			reducedTotal: totalAmount,
			couponid:couponid
		},
		success:(response)=>{
			if(response.codSuccess == true){
				
				window.location.href = '/thankyou'
			}else if(response.walletsuccess === true){
				window.location.href = '/thankyou'
			}else if(response.walletsuccess===false){
				Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: response.message
      });
			}else if(response.upiAmountExceed===true){
				Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: response.message
      });
			}	
			else{
				razorpayPayment(response)
			}
		}
});
	
}

	function razorpayPayment(order){
		var options = {
    "key": "rzp_test_cnVfltu2ex0dJP", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Apollo Group",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

		verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3b5d50"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
	}

	function verifyPayment(payment,order){
		$.ajax({
			url:'/verifyPayment',
			method:'post',
			data:{payment,
					order}
		}).then((response)=>{
			if(response.success===true){
				window.location.href='/thankyou'

			}else if(response.success===false){
				Swal.fire({
  icon: "error",
  title: "Oops...",
  text: response.message,
  
});
			}else{
				Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Something went wrong!",
  
});
			}
		})
	}


  


 
				



  //edit address




  function addreditbtn(event,addrid){
	event.preventDefault()
	fetch("/getAddressDetails",{
		method:'POST',
		headers:{
			'Content-Type':'application/json'
		},
		body:JSON.stringify({
			addressId:addrid
		})
	}).then(response => {
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			return response.json(); // Parse response as JSON
		})
		.then(data => {
			if (data.success) {
				
				const addressDetails = data.addressIndex;
				$('#nameinedit').val(addressDetails.name);
				$('#emailinedit').val(addressDetails.email);
				$('#contactinedit').val(addressDetails.phone);
				$('#addressinedit').val(addressDetails.localAddress);
				$('#pincodeinedit').val(addressDetails.pincode);
				$('#cityinedit').val(addressDetails.city);
				$('#stateinedit').val(addressDetails.state);
	
				$('#addressEditmodal').modal('show');
				$('#submitedit').on('click',function(event){
					newEditAddress(event,addressDetails)
				})
				
				
			} else {
				console.error('Error:', data.message);
				// Optionally display an error message to the user
			}
		})
		.catch(error => {
			console.error('Fetch Error:', error.message);
			// Handle fetch errors
		});
	}



	function newEditAddress(event, addrid) {
    event.preventDefault();
    
        console.log("hui", addrid);
        let username = $('#nameinedit').val();
        let email = $('#emailinedit').val();
        let mobile = $('#contactinedit').val();
        let address = $('#addressinedit').val();
        let pincode = $('#pincodeinedit').val();
        let city = $('#cityinedit').val();
        let state = $('#stateinedit').val();

        // Clear any existing error messages
        $('#nameError').text("");
        $('#emailError').text("");
        $('#mobileError').text("");
        $('#addressError').text("");
        $('#pinError').text("");
        $('#cityError').text("");
        $('#stateError').text("");

        let isValid = true;

        // Validate required fields
        if (!username || !email || !mobile || !address || !pincode || !city || !state) {
            isValid = false;
            // If any required field is empty, display an error message
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'Please fill out all the required fields.',
                timer: 2000,
            });
            return; // Exit the function if validation fails
        }

        // Regular expression for name validation
        const nameRegex = /^[a-zA-Z][a-zA-Z0-9 ]*$/;
        if (!nameRegex.test(username)) {
            // $('#nameError').text("Please enter a valid name.");
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'Please enter the name in correct format.',
                timer: 2000,
            });
            isValid = false;
        }

        // Regular expression for email validation
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            // $('#emailError').text("Please enter a valid email address.");
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'Enter valid mail!',
                timer: 2000,
            });
            isValid = false;
        }

        // Regular expression for mobile validation (10 digits)
        const mobileRegex = /^\d{10}$/;
        if (!mobileRegex.test(mobile)) {
            // $('#mobileError').text("Please enter a valid 10-digit mobile number.");
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'contact fields should be 10 digits!',
                timer: 2000,
            });
            isValid = false;
        }

        // Regular expression for pincode validation (numbers only)
        const pincodeRegex = /^[0-9]+$/;
        if (!pincodeRegex.test(pincode)) {
            // $('#pinError').text("Pincode must be a number.");
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'Pincode should be in numbers!',
                timer: 2000,
            });
            isValid = false;
        }

        // If validation fails, return
        if (!isValid) {
            return false
        } else {
            $.ajax({
                
                url: '/editAddress',
                method: 'post',
                data: {
                    addrid:addrid,
                    username: username,
                    email: email,
                    mobile: mobile,
                    address: address,
                    pincode: pincode,
                    city: city,
                    state: state
                },
                success: (response) => {
                    if (response.success) {
                        Swal.fire("Address edited successfully!")
                            .then(() => {
                                $('#addressmodal').hide();
                                window.location.reload();
                            });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            icon: 'error',
                            text: response.message,
                            timer: 2000,
                        });
                    }
                },
                error: (error) => {
                    Swal.fire({
                        title: 'Error',
                        icon: 'error',
                        text: 'There was an error processing your request.',
                        timer: 1500,
                    });
                }
            });



        }


		//toggle modal


		$(document).ready(function(){
    $('#couponbtn').click(function(){
      $('#couponModal').modal('show');
    });
  });




  	
        

        // If all validations pass, proceed with AJAX request

    
}



function applyCoupon(event){
		event.preventDefault()

		let couponinput = document.getElementById('couponinput').value.trim()
		let checkoutTotal = document.getElementById('totAmt').value
		console.log('tot:aa',checkoutTotal);
		let couponButton = document.getElementById('couponbtn')
		document.getElementById("removebtn").classList.remove("d-none");

		document.getElementById("couponError").innerText = "";

		var isValid = true;

		const couponRegex = /^[a-zA-Z0-9]+$/;

		if(!couponRegex.test(couponinput)){
			document.getElementById('couponError').innerText = 'Enter valid coupon code!'
			isValid = false
		}

		if (!isValid) {
                return false;
            }else{
				$.ajax({
					url:'/applyCoupon',
					method:'post',
					data:{couponCode:couponinput,
						totalAmount:checkoutTotal},
					success:(response)=>{
						console.log(response);
						const{discountTotal,discountAmount,minAmount,couponid} = response
						if(response.couponApplied===true){
							document.getElementById('total').innerText = `₹${discountTotal}.00`
							document.getElementById('discountrow').style.display = 'block'
							document.getElementById('discountinput').innerHTML=`-₹${discountAmount}.00`
							document.getElementById('couponid').value = `${couponid}`
							
							Swal.fire({
    text: "Coupon added successfully",
    icon: "success",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
  	couponButton.innerText= 'Applied!'
  	couponButton.disabled = true
						}else if(response.wrongCoupon===true){
							Swal.fire({
    text: "Invalid Coupon",
    icon: "error",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}else if(response.shouldMinAmount===true){
							Swal.fire({
    text: `Coupon applicable for atleast total of ₹${minAmount}.00`,
    icon: "warning",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}else if(response.expired===true){
							Swal.fire({
    text: "Coupon has expired",
    icon: "error",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}else if(response.onlyOneTime===true){
							Swal.fire({
    text: "You already used one coupon",
    icon: "info",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}else if(response.usedCoupon===true){
							Swal.fire({
    text: "Coupon has already been used",
    icon: "info",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}
					},
					error:(xhr,status,error)=>{

					}
				})
			}



	}


	//REMOVE COUPON


		function removeCoupon(){
			let couponinput = document.getElementById('couponinput').value.trim()
			let checkoutTotal = document.getElementById('totAmt').value
			let couponButton = document.getElementById('couponbtn')

			$.ajax({
				url:'/removeUserCoupon',
				method:'post',
				data:{couponCode:couponinput,
					totalAmount:checkoutTotal},
					success:((response)=>{
						const {totalAmount} = response
						if(response.removeCoupon===true){
							document.getElementById('total').innerText = `₹${totalAmount}.00`
							document.getElementById('discountrow').style.display = 'none'
							couponButton.disabled = false
  							couponButton.innerText= 'Apply'
							  document.getElementById("removebtn").classList.add("d-none");
							Swal.fire({
    text: "Coupon Removed successfully",
    icon: "success",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
 
  	
						}else{
							Swal.fire({
    text: "Something went wrong!",
    icon: "error",
    customClass: {
      container: 'your-container-class',
      title: 'your-title-class',
      content: 'your-content-class',
      confirmButton: 'your-confirm-button-class',
    },
  });
						}
					})
			})
		}





	



			  </script>


			<!-- Your HTML code -->



			

			 





			<!-- end -->
		


		        <!-- <div class="col-md-6">

		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
		              <div class="p-3 p-lg-5 border bg-white">

		                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
		                <div class="input-group w-75 couponcode-wrap">
		                  <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
		                  <div class="input-group-append">
		                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button>
		                  </div>
		                </div>

		              </div>
		            </div>
		          </div>

				  
				
				  


		        </div> -->
		      </div>
			  </div>
			  </div>
		      <!-- </form> -->
		    </div>
		  </div>



		  

		<%- include('../partials/footer') -%>
